/**
 * @file
 * Positioning for a groups custom panels layout.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Partial for adding standard breakpoint variables
 */
/* Apply the shared properties of grid items in a single, efficient ruleset. */
/* line 16, ../../../sass/layout/panels-layouts/group_layout.scss */
.panels-layout.group-layout,
.panels-layout.group-layout > .main,
.panels-layout.group-layout > .main .group__main--top-left,
.panels-layout.group-layout > .main .group__main--top-right,
.panels-layout.group-layout > .main .group__main--banner,
.panels-layout.group-layout > .main .group__main--tabs,
.panels-layout.group-layout > .sidebar {
  padding-left: 0px;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 45, ../../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.panels-layout.group:before, .panels-layout.group:after {
  content: "";
  display: table;
}
/* line 50, ../../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.panels-layout.group:after {
  clear: both;
}

/* line 30, ../../../sass/layout/panels-layouts/group_layout.scss */
.group__main--banner,
.group__main--tabs {
  clear: left;
}

/* Mobile-first styles*/
/* line 38, ../../../sass/layout/panels-layouts/group_layout.scss */
.panels-layout.group-layout > .main {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  clear: both;
}
/* line 41, ../../../sass/layout/panels-layouts/group_layout.scss */
.panels-layout.group-layout > .main .group__main--top-left {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
}
/* line 44, ../../../sass/layout/panels-layouts/group_layout.scss */
.panels-layout.group-layout > .main .group__main--top-right {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  clear: both;
}
/* line 48, ../../../sass/layout/panels-layouts/group_layout.scss */
.panels-layout.group-layout > .main .group__main--banner {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  clear: both;
}
/* line 52, ../../../sass/layout/panels-layouts/group_layout.scss */
.panels-layout.group-layout > .main .group__main--tabs {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  clear: both;
}
/* line 57, ../../../sass/layout/panels-layouts/group_layout.scss */
.panels-layout.group-layout > .sidebar {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  clear: both;
}

/**
 * Use 3 grid columns for medium-large devices.
 */
@media (min-width: 48em) {
  /* line 69, ../../../sass/layout/panels-layouts/group_layout.scss */
  .panels-layout.group-layout > .main {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 72, ../../../sass/layout/panels-layouts/group_layout.scss */
  .panels-layout.group-layout > .main .group__main--top-left {
    float: left;
    width: 58.33333%;
    margin-left: 0%;
    margin-right: -58.33333%;
  }
  /* line 75, ../../../sass/layout/panels-layouts/group_layout.scss */
  .panels-layout.group-layout > .main .group__main--top-right {
    float: left;
    width: 41.66667%;
    margin-left: 58.33333%;
    margin-right: -100%;
    text-align: right;
    clear: none;
  }
  /* line 80, ../../../sass/layout/panels-layouts/group_layout.scss */
  .panels-layout.group-layout > .main .group__main--banner {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  /* line 83, ../../../sass/layout/panels-layouts/group_layout.scss */
  .panels-layout.group-layout > .main .group__main--tabs {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  /* line 87, ../../../sass/layout/panels-layouts/group_layout.scss */
  .panels-layout.group-layout > .sidebar {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    clear: none;
  }
}

/*# sourceMappingURL=group_layout.css.map */
