/**
 * Theming the Announcements block found on group pages.
 */
.bg-diagonal {

  .views-row {
    background: image-url('bg-diagonal-tile-blue.png');
    display:block;
    clear:both;
    height:200px;
    padding:10px;
    margin-bottom:10px;
    margin-top:0;
  }

  .views-field-body {

    color:darken(white, 15%);
    font-size:.9em;
    line-height:1.3em;
    a {
      @include display_font;
      font-size:1.25em;
      font-weight:bold;
      color:white;
      display:table;
      margin-top: 15px;
      font-weight:bold;
      padding:5px 15px;
      background: $blue-gray;
      border-radius:5px;
    }
  }
}