.my-recent-courses {
  background: transparent;
  h3.pane-title {
    background: transparent;
  }
  .item {
    background: transparent;
    margin-bottom: .5em;
    .title {
      background: transparent;
      font-weight: bold;
    }
    .date {
      background: transparent;
      font-size: .85rem;
    }
  }
}
