.node-type-program {

  h1 {
    padding-bottom: 8px;
    border-bottom: 1px solid grey;
  }


  h2 {
    font-weight: normal !important;
    }

  .pane-node-field-main-image {
    margin-bottom: 0;
  }

}