.node-type-news,
.page-node.node-type-news {
  .view-news-announcements-posts .view-empty {
    display: none;
  }
  .node-header-links {
    .print,
    .share,
    .download_pdf {
      display: none !important;
    }
  }
}

.view-news-announcements-posts {
  &.view-display-id-panel_pane_1 {
    .view-footer {
      display: none;
    }
  }
}