.node-type-coi {
  h2 {
    font-weight: normal !important;
    padding-bottom: 4px;
    }


  .fancy-bullets {

    .field-type-link-field {
      margin-left: 15px;


      a {
      padding-left: 20px;
      background: url(../images/crosshairs_bullet.png) no-repeat;
      background-position: left center;
      }
    }
  }
}