

.section-node-edit {

  table.tabledrag-processed {
  
    th.field-label {
      padding: 0;
    }
    
    /*
    td.field-multiple-drag {
      padding: 0;
      a.tabledrag-handle {
        float: none;
        margin-left: 0;
      }
    }
    */
    
  }

}
