.view-staff-directory {
  .views-row {
    padding-bottom: 1em;
  }
  a {
    font-weight: bold;
    display: block;
  }
  .field-name-field-user-rank-prefix {
    display: inline;
  }
  .field-name-field-user-title {
    font-style: italic;
    display: inline;
  }
  .field-name-field-user-organization {
    display: inline;
  }

}