/* Styles for Support Desk related views */
#views-exposed-form-support-page-1 {
  font-size: .8em;
  margin-bottom: 2em;
}

.view-display-id-page_1 {
  font-size: .9em;
  caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
  }
}