/**
 * @file
 * Positioning for a three across layout.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

// Add the Zen Grids responsive layout mixins.
@import "zen";
@import "zen/background";

$zen-grid-color: transparent !default;
$zen-grid-numbers: none !default;
$display-zen-grid-background: false !default;

// $zen-column-count:  1;
// $zen-gutter-width:  0px;
// $zen-auto-include-item-base: false;

$zen-column-count: 3;
$zen-gutter-width: 0px;

/* Apply the shared properties of grid items in a single, efficient ruleset. */
.gn2-footer,
.gn2-footer--col1,
.gn2-footer--col1--info,
.gn2-footer--col1--nav,
.gn2-footer--col2,
.gn2-footer--col2--info,
.gn2-footer--col2--nav,
.gn2-footer--col3,
.gn2-footer--col3--info,
.gn2-footer--col3--nav, {
  @include zen-grid-item-base();
}

.gn2-footer {
  @include zen-grid-container();
  // @include zen-grid-background();
}

/**
 * Use 3 grid columns for larger screens.
 */
@media all and (min-width: 400px) {
  $zen-column-count: 3;
  .gn2-footer--col1 {
    @include zen-grid-item(1, 1);
  }
  .gn2-footer--col2 {
    @include zen-grid-item(1, 2);
  }
  .gn2-footer--col3 {
    @include zen-grid-item(1, 3);
  }
}
