/**
 * @file
 * Positioning for a 2 col 40:60 custom panels layout.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

// Add the Zen Grids responsive layout mixins.
@import "zen";

$zen-gutter-width: 0px;
$zen-auto-include-item-base: false;

/* Apply the shared properties of grid items in a single, efficient ruleset. */
.gn-two-col-stacked,
.gn-two-col-stacked > .top,
.gn-two-col-stacked > .sidebar,
.gn-two-col-stacked > .main > .main-top,
.gn-two-col-stacked > .main > .main-bottom,
.gn-two-col-stacked > .footer {
  @include zen-grid-item-base();
}

.gn-two-col-stacked > .sidebar,
.gn-two-col-stacked > .main > .main-bottom,
.gn-two-col-stacked > .footer {
  @include zen-clear(both);
}

.gn-two-col-stacked {
  @include zen-grid-container();
}

$zen-column-count: 16 !global;
.gn-two-col-stacked {
  > .top,
  > .footer {
    @include zen-grid-item ($zen-column-count, 1);
  }
  > .sidebar {
    @include zen-grid-item (5, 1);
  }
  > .main {
    @include zen-grid-item (11, 6);
    @include zen-nested-container();
    clear: none;
    > .main-top, 
    > .main-bottom {
      @include zen-grid-item($zen-column-count, 1);
    }
  }
}
